<section class="main-container">
    <section class="top-container">
        <section class="title">
            <a routerLink="/welcome/blog">
                <- Back to homepage</a>
        </section>
        <span class="search">
            search +
        </span>
    </section>
    <section class="blog-intro-container">
        <section class="intro-content-container">
            <section class="content-right-container">
                <article class="date">
                    Posted 1 day ago
                </article>
                <article class="smallerTitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend.
                </article>
                <article class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                    orci eleifend. Aenean augue.
                </article>
            </section>
            <section class="content-left-container">
            </section>
        </section>
    </section>
    <section class="blog-intro-container">
        <section class="intro-content-container">
            <section class="content-right-container">
                <article class="date">
                    Posted 1 day ago
                </article>
                <article class="smallerTitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend.
                </article>
                <article class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                    orci eleifend. Aenean augue.
                </article>
            </section>
            <section class="content-left-container">
            </section>
        </section>
    </section>
</section>