<section class="main-container">
    <section class="side-bar">
        <article class="search">
            <span>SEARCH</span>
            <span>&#9730;</span>
        </article>
        <article class="profile">
            <span></span>
            <span>John Doe</span>
            <span>&#9881;</span>
        </article>
        <article class="navigation-bar">
            <span class="main">MAIN</span>
            <article routerLinkActive="selected" routerLink="/QMS/new">
                <span class="icon">&#9998;</span>
                <span class="title">New Post</span>
            </article>
            <article>
                <span class="icon">&#9780;</span>
                <span class="title">Published</span>
            </article>
            <article>
                <span class="icon">&#10064;</span>
                <span class="title">Drafts</span>
            </article>
            <article>
                <span class="icon">&#9853;</span>
                <span class="title">Scheduled</span>
            </article>
            <article>
                <span class="icon">&#9851;</span>
                <span class="title">Trash</span>
            </article>
        </article>
    </section>
    <section class="main-container-content">
        <router-outlet></router-outlet>
    </section>
</section>