@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/chairbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: $fontContentB;
    .main-container-background {
        width: 100vw;
        height: 100vh;
        background: $transparent-white;
        @include row-center();
        padding: 0 15vw;
        .main-container-content {
            background: $transparent-white;
            padding: 10vw 10vw;
            .description {
                line-height: 150%;
            }
            .button {
                @include button-fd-gold($width: 13vw);
                font-weight: 700;
                box-sizing: border-box;
                margin-top: 5vh;
                margin-left: 35vw;
                font-size: $fontContentB;
            }
        }
    }
}

.title {
    font-size: $fontTitleB;
    font-weight: 600;
    margin-bottom: 2vh;
}

.smallerTitle {
    font-size: $fontTitleS;
    font-weight: 600;
    margin-bottom: 2vh;
}