<section class="main-container">
    <section class="main-container-content">
        <article class="top-container">
            <span class="title">Trash</span>
        </article>
        <section class="mid-container">
            <article class="trash">
                <span class="smallerTitle">This and that</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <span>&#9853; 1 hour ago</span>
            </article>
            <article class="trash">
                <span class="smallerTitle">Those and those</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <span>&#9853; 1 hour ago</span>
            </article>
            <article class="trash">
                <span class="smallerTitle">He and she</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <span>&#9853; 1 hour ago</span>
            </article>
        </section>
    </section>
</section>