app-pagination {
    position: absolute;
    right: 2vw;
    top: 38.5vh;
    z-index: 2;
}

.logo {
    width: 15vh;
    height: 15vh;
    position: fixed;
    top: 2vw;
    left: 2vw;
    z-index: 5;
    background: black;
}