<section class="main-container">
    <section class="left-container">
        <section class="left-top-container">
            <span>Save</span>
            <article>
                <span>&#9974;</span>
                <span>Preview</span>
            </article>
        </section>
        <section class="left-mid-container">
            <span class="title">Title</span>
            <section class="selection-bar">
                <article class="selection-bar-left">
                    <span>Paragraph</span><span>&#8679;</span>
                </article>
                <article class="selection-bar-right">

                </article>
            </section>
            <section class="left-mid-container-content">
                <span class="smallerTitle">This is heading</span>
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                    orci eleifend. Aenean augue.
                </span>
                <span class="smallerTitle">This is heading</span>
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                    orci eleifend. Aenean augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                    orci eleifend. Aenean augue.
                </span>
                <br/> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel
                elit lobortis, vel mattis orci eleifend. Aenean augue.
            </section>
        </section>
    </section>
    <section class="right-container">
        <section class="right-top-container">
            <span>Publish Post</span>
            <span>&#9782;</span>
        </section>
        <section class="right-mid-container">
            <article>
                <span class="right-title">Last Edited</span>
                <span>&#9853; July 20, 2017, 6:09pm</span>
            </article>
            <article class="right-mid-container-img">
                <span class="right-title">Feature image</span>
                <div>Set Image</div>
            </article>
            <article class="right-mid-container-tag">
                <span class="right-title">Tags</span>
                <span>Commas to seperate tags</span>
            </article>
        </section>
    </section>
</section>