<section mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)" (mouseWheelDown)="mouseWheelDownFunc(event)">
    <section class="main-container">
        <section class="main-container-background">
            <section class="logo">

            </section>
            <section class="main-container-content">
                <section class="smallerTitle">
                    Our Team
                </section>
                <section class="title">
                    Lorem Ipsum Dolor Sit Amet, Consectetuer adipiscing elit, sed diam nomnummy nibh euismod.
                </section>
                <span class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue.
                </span>
                <section class="button" routerLink="intro">
                    Get to know us &#10145;
                </section>
            </section>
            <section class="pagination">
                <app-pagination></app-pagination>
            </section>
        </section>
    </section>
</section>

<!-- child component -->
<section>
    <router-outlet></router-outlet>
</section>