<section class="main-container">
    <section class="main-container-content">
        <article class="top-container">
            <span class="title">Drafts</span>
        </article>
        <section class="mid-container">
            <article class="drafts">
                <span class="smallerTitle">The fox and the goat</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <span>&#9853; 1 hour ago</span>
            </article>
            <article class="drafts">
                <span class="smallerTitle">The fox and the goat</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <span>&#9853; 1 hour ago</span>
            </article>
            <article class="drafts">
                <span class="smallerTitle">The fox and the goat</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <span>&#9853; 1 hour ago</span>
            </article>
        </section>
    </section>
</section>