<section class="main-container">
    <section class="top-container">
        <section class="title">
            Our Service
        </section>
        <span class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue.
        </span>
    </section>
    <section class="service-intro-container">
        <section class="smallerTitle">
            Treatment 1
        </section>
        <section class="intro-content-container">
            <section class="content-img-container">
            </section>
            <section class="content-desc-container">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue.
            </section>
        </section>
    </section>
    <section class="service-intro-container">
        <section class="smallerTitle">
            Treatment 2
        </section>
        <section class="intro-content-container">
            <section class="content-img-container">
            </section>
            <section class="content-desc-container">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue.
            </section>
        </section>
    </section>
    <section class="service-intro-container">
        <section class="smallerTitle">
            Treatment 3
        </section>
        <section class="intro-content-container">
            <section class="content-img-container">
            </section>
            <section class="content-desc-container">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue.
            </section>
        </section>
    </section>
</section>

<section class="arrow">
    <a routerLink="/service"><img src="/assets/icons/arrow.png"></a>
</section>