@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 85vw;
    height: 100vh;
    background: white;
    z-index: 1;
    padding: 5vh 7.5vw;
    overflow-y: scroll;
    .top-container {
        width: 100%;
    }
    .service-intro-container {
        margin-top: 4vh;
        width: 100%;
        @include column-center();
        justify-content: flex-start;
        align-items: flex-start;
        .intro-content-container {
            width: 100%;
            @include column-center();
            .content-img-container {
                width: 45%;
                height: 40vh;
                background-image: url('/assets/images/treatment.jpeg');
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: 2vh;
                margin-bottom: 2vh;
            }
            .content-desc-container {
                width: 100%;
                line-height: 150%;
            }
        }
    }
}

.description {
    line-height: 150%;
}

.arrow {
    position: absolute;
    left: 3vw;
    top: 40vh;
    width: 8vw;
    height: 7vw;
    background-image: url('/assets/icons/arrow2.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    @include transition-basic();
    &:hover {
        background-image: url('/assets/icons/arrow.png');
    }
}

.title {
    font-family: 'Playfair Display';
    font-size: $fontTitleB;
    font-weight: 600;
    margin-bottom: 2vh;
}

.smallerTitle {
    font-size: $fontTitleS;
    margin-bottom: 2vh;
}