@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/chairbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: $fontContentB;
    .main-container-background {
        width: 100vw;
        height: 100vh;
        background: $transparent-white;
        @include row-center();
        // padding: 0 15vw;
        .main-container-content {
            background: $transparent-white;
            width: 100%;
            height: 100%;
            padding: 0 20vw;
            @include column-center();
            align-items: flex-start;
            .description {
                line-height: 150%;
            }
            .button {
                @include button-fd-gold($width: 16vw);
                font-weight: 700;
                box-sizing: border-box;
                margin-top: 5vh;
                margin-left: 35vw;
                font-size: $fontContentB;
            }
        }
    }
}

.logo {
    width: 15vh;
    height: 15vh;
    position: fixed;
    top: 2vw;
    left: 2vw;
    z-index: 5;
    background: black;
}

.title {
    font-family: 'Playfair Display';
    font-size: $fontTitleB;
    font-weight: 600;
    margin-bottom: 2vh;
}

.smallerTitle {
    font-size: $fontTitleS;
    font-weight: 400;
    margin-bottom: 2vh;
}