<section class="main-container">
    <section class="main-container-content">
        <article class="top-container">
            <span class="title">Published</span>
            <article>View posts on ALL 2017</article>
        </article>
        <section class="mid-container">
            <article class="publishes">
                <span class="smallerTitle">The two bags</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <span>&#9853; 1 hour ago</span>
            </article>
            <article class="publishes">
                <span class="smallerTitle">The cat and the bird</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <span>&#9853; 1 hour ago</span>
            </article>
            <article class="publishes">
                <span class="smallerTitle">The monkey and the elephant</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <span>&#9853; 1 hour ago</span>
            </article>
        </section>
    </section>
</section>