<section class="main-container">
    <section class="home">
        <article class="line"><img src="/assets/images/line.png"></article>
        <a routerLink="/home" routerLinkActive="show">
            <article class="title">Home</article>
        </a>
    </section>
    <section class="team">
        <article class="line"><img src="/assets/images/line.png"></article>
        <a routerLink="/team" routerLinkActive="show">
            <article class="title">Our team</article>
        </a>
    </section>
    <section class="service">
        <article class="line"><img src="/assets/images/line.png"></article>
        <a routerLink="/service" routerLinkActive="show">
            <article class="title">our service</article>
        </a>
    </section>
    <section class="blog">
        <article class="line"><img src="/assets/images/line.png"></article>
        <a routerLink="/blog" routerLinkActive="show">
            <article class="title">blog</article>
        </a>
    </section>
    <section class="contact">
        <article class="line"><img src="/assets/images/line.png"></article>
        <a routerLink="/contact" routerLinkActive="show">
            <article class="title">contact us</article>
        </a>
    </section>
</section>