<section class="main-container">
    <section class="home">
        <h2>
            <a routerLink="/welcome/home" routerLinkActive="show">
                <article class="line"><img src="/assets/images/line.png"></article>
                <article class="title">Home</article>
                <!--Home-->
            </a>
        </h2>
    </section>
    <section class="team">
        <h2>
            <a routerLink="/welcome/team" routerLinkActive="show">
                <article class="line"><img src="/assets/images/line.png"></article>
                <article class="title">Our team</article>
                <!--Our Team-->
            </a>
        </h2>
    </section>
    <section class="service">
        <h2>
            <a routerLink="/welcome/service" routerLinkActive="show">
                <article class="line"><img src="/assets/images/line.png"></article>
                <article class="title">Services</article>
                <!--Services-->
            </a>
        </h2>
    </section>
    <section class="blog">

        <h2>
            <a routerLink="/welcome/blog" routerLinkActive="show">
                <article class="line"><img src="/assets/images/line.png"></article>
                <article class="title">Blog</article>
                <!--Blog-->
            </a>
        </h2>
    </section>
    <section class="contact">

        <h2>
            <a routerLink="/welcome/contact" routerLinkActive="show">
                <article class="line"><img src="/assets/images/line.png"></article>
                <article class="title">Contact</article>
                <!--Contact-->
            </a>
        </h2>
    </section>
</section>