@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    height: 20vh;
    width: 8vw;
    @include column-center();
    @include transition-basic();
    .home {
        height: 4vh;
        cursor: pointer;
        width: 80%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    .team {
        height: 4vh;
        cursor: pointer;
        width: 80%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    .service {
        height: 4vh;
        cursor: pointer;
        width: 80%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    .blog {
        height: 4vh;
        cursor: pointer;
        width: 80%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    .contact {
        height: 4vh;
        cursor: pointer;
        width: 80%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    img {
        width: 100%;
        height: 2px;
    }
    .title {
        display: none;
    }
    .line {
        display: block;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.show {
    .title {
        font-weight: 700;
        display: block !important;
    }
    .line {
        display: none !important;
    }
}