@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    width: 8vw;
    @include column-center();
    @include transition-basic();
    .home {
        cursor: pointer;
        width: 100%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    .team {
        cursor: pointer;
        width: 100%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    .service {
        cursor: pointer;
        width: 100%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    .blog {
        cursor: pointer;
        width: 100%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    .contact {
        cursor: pointer;
        width: 100%;
        @include column-center();
        &:hover {
            .title {
                display: block;
            }
            .line {
                display: none;
            }
        }
    }
    img {
        width: 100%;
        height: 5px;
    }
    a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }
}

.title {
    display: none;
    z-index: 0;
}

.line {
    z-index: 1;
}

.show {}