<section class="main-container">
    <section class="main-container-content">
        <article class="top-container">
            <span class="title">Published</span>
        </article>
        <section class="mid-container">
            <section class="schedules">
                <span class="smallerTitle">The moon and her mother</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel...</span>
                <section class="edit">
                    <span>&#9887; 30 July 2017 10:00 AM</span>
                    <article>
                        <span>&#9875; View</span>
                        <span>&#9876; Edit</span>
                        <span>&#9878; Delete</span>
                    </article>
                </section>
            </section>
        </section>
    </section>
</section>