<section class="main-container">
    <section class="main-container-background">
        <section class="main-container-content">
            <section class="top-container">
                <section class="smallerTitle">
                    Contact Us
                </section>
                <span class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue.
            </span>
                <section class="mid-container">
                    <section class="mid-left-container">
                        <div class="tableTitle">Location</div>
                        <table>
                            <tr>
                                <td class="bold">Phone:</td>
                                <td><span>04 xx xxx xxx</span></td>
                            </tr>
                            <tr>
                                <td class="bold">Email:</td>
                                <td><span>xxxxxxxxxxxx@gmail.com</span></td>
                            </tr>
                            <tr>
                                <td class="bold">ABN:</td>
                                <td><span>xxx xxx xxx xxx</span></td>
                            </tr>
                            <tr>
                                <td class="bold">Address:</td>
                                <td><span>52 Wallaby Way<br/>Sydney</span></td>
                            </tr>
                        </table>
                        <div class="tableTitle2">Business Hours</div>
                        <table>
                            <tr>
                                <td class="bold">Monday</td>
                                <td><span>xx.xx - xx.xx</span></td>
                            </tr>
                            <tr>
                                <td class="bold">Tuesday</td>
                                <td><span>xx.xx - xx.xx</span></td>
                            </tr>
                            <tr>
                                <td class="bold">Wednesday</td>
                                <td><span>xx.xx - xx.xx</span></td>
                            </tr>
                            <tr>
                                <td class="bold">Thursday</td>
                                <td><span>xx.xx - xx.xx</span></td>
                            </tr>
                            <tr>
                                <td class="bold">Friday</td>
                                <td><span>xx.xx - xx.xx</span></td>
                            </tr>
                            <tr>
                                <td class="bold">Saturday</td>
                                <td><span>xx.xx - xx.xx</span></td>
                            </tr>
                            <tr>
                                <td class="bold">Sunday</td>
                                <td><span>xx.xx - xx.xx</span></td>
                            </tr>
                        </table>
                    </section>
                    <section class="mid-right-container">
                        <div class="tableTitle">Enquiries</div>
                        <form>
                            <table>
                                <tr>
                                    <td class="bold"><label for="name">Name:</label></td>
                                    <td><input type="text" name="Name"></td>
                                    <!--<td><input [(ngModel)]="form.name" type="text" name="Name"></td>-->
                                </tr>
                                <tr>
                                    <td class="bold"><label for="name">Phone:</label></td>
                                    <td><input type="text" name="Phone"></td>
                                </tr>
                                <tr>
                                    <td class="bold"><label for="name">Email:</label></td>
                                    <td><input type="text" name="Email"></td>
                                </tr>
                                <tr>
                                    <td class="bold"><label for="name">Message:</label></td>
                                    <td><input type="textarea" name="Message"></td>
                                </tr>
                            </table>
                            <input class="button" type="submit" value="Submit">
                        </form>
                    </section>
                </section>
            </section>

            <!--<section class="button">
                Get to know us ->
            </section>-->
        </section>
    </section>
</section>