// Theme Color 
$gold: #ba964b;
$light-gold: #eadfc8;
$transparent-white: rgba(255, 255, 255, 0.4);
// Sizes
//
// Header
$headerHeight: 20vh;
$widthPadding: 7.5vw;
// Footer
$footerHeight: 30vh;
// Fonts
$pageTitle: 40pt;
$fontTitleB: 24pt;
$fontTitleS: 18pt;
$fontContentB: 14pt;
$fontContentS: 12pt;