<section class="main-container">
    <section class="top-container">
        <section class="title">
            Our Team
        </section>
        <span class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue.
        </span>
    </section>
    <section class="team-intro-container">
        <section class="smallerTitle">
            Dr. John Doe
        </section>
        <section class="intro-content-container">
            <section class="content-left-container-doctor">
            </section>
            <section class="content-right-container">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue.
            </section>
        </section>
    </section>
    <section class="team-intro-container">
        <section class="smallerTitle">
            Dr. Mary Doe
        </section>
        <section class="intro-content-container">
            <section class="content-left-container-nurse">
            </section>
            <section class="content-right-container">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis
                orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                venenatis urna vel elit lobortis, vel mattis orci eleifend. Aenean augue.
            </section>
        </section>
    </section>
</section>

<section class="arrow">
    <a routerLink="/welcome/team"><img src="/assets/icons/arrow.png"></a>
</section>